# =========================
# .NET
# =========================

**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo


# =========================
# Angular
# =========================

**/node_modules/
**/dist/
**/.angular/

# Angular temporary/build files
/tmp
/out-tsc
/bazel-out


# =========================
# Logs
# =========================

*.log
npm-debug.log
yarn-error.log


# =========================
# Environment / Secrets
# =========================

.env
.env.*
**/appsettings.Development.json


# =========================
# Deployment / Published Files
# =========================

**/publish/
**/publish-deploy/
Published/


# =========================
# Uploaded Files
# =========================

# Ignore uploaded resumes
**/wwwroot/resumes/*


# =========================
# IDEs and Editors
# =========================

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

.history/


# =========================
# Test / Coverage
# =========================

/coverage
testem.log


# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db